body
{
	background-image:url('back.jpg');
}
h1
{
color:#0404B4;
text-align:center;
}
h2
{
color:green;
text-align:center;
}
h3
{
color:#BF00FF;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
#menu
{
    padding:0;
    margin-bottom:-2px;
}
#menu li
{
    display:inline;
}
#menu li a
{  
   font-family:Arial;
   font-size:12px;
   text-decoration: none;
   float:left;
   padding:10px;
   background-color: #333333;
   color:#ffffff;
   border-bottom:1px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
}
#menu li a:hover
{
   background-color:#9B1C26;
   padding-bottom:12px;
   border-bottom:2px;
   border-bottom-color:#000000;
   border-bottom-style:solid;
   margin:-1px;
}
